.section-feature {
  .mdl-grid {
    margin: 100px 0;

  }
}

.section-hero--form {
  border-radius: 5px;
  background-color: rgba(white, 0.8);
}

.section--last-cell {
  align-items: center;
  display: flex;
  .mdl-button {
    width: 100%;
  }
}

.section-footer {
  background-color: #e4e4e4;
}

.section-picture {
  padding: 50px;
  max-width: 100%;  
}
